:root {
  font-size: 16px;
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Fasthand", cursive, "Pacifico", cursive, "Roboto",
    "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: rgb(24, 25, 33);
  color: white;
}
.gameTitle {
  font-size: 5rem;
  text-align: center;
  box-shadow: "10px 20px 30px white";
}
.container-startPage {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  height: 100%;
  background: rgb(24, 25, 33);

  display: flex;
  justify-content: center;
  align-items: center;
}
.startPage {
  height: 500px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: rgb(8, 9, 15);
  color: white;
  border-radius: 20px;
  border: solid;
  border-color: rgb(48, 171, 130);
}
.startTitle {
  font-size: 4rem;
}
.startPrompt {
  font-size: 1.5rem;
  font-style: italic;
}
.nameInput {
  border-radius: 1rem;
  height: 1rem;
}
.startBtn {
  border-radius: 8px;
  height: 25px;
  width: 60px;
}
.container-main {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 70px;
  padding: 0 0 0 50px;
}
.container-player1 {
  display: flex;
  justify-content: center;
  width: 50%;
}

.container-player2 {
  width: 50%;
}
.container-player2 .ship {
  display: none;
  opacity: 0.5;
}
.container-player2 .container-Board {
  margin-left: 60px;
}
.row {
  display: flex;
}
.cell {
  border: solid;
  border-color: rgb(48, 171, 130);
  border-width: 1px;
  height: 35px;
  width: 35px;
  padding: 0;
  margin: 0;
  font-size: 30px;
  text-align: center;
  line-height: 30px;
  font-family: "Roboto";
}
.direction {
  font-family: "Roboto";
}
.container-port {
  display: flex;
  justify-content: center;
  width: 50%;
}
.port {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.container-direction {
  width: 200px;
}
.dock {
  width: 200px;
}
.ship {
  text-align: center;
  cursor: move;
  background-color: aquamarine;
  display: grid;
  border: solid;
  border-width: 1px;
  grid-template-columns: repeat(auto-fit, 35px);
  padding: 0;
  margin: 0;
  display: flex;
}

.shipSubset {
  flex: 1;
  margin: 0;
  padding: 0;
}
.vertical {
  display: flex;
  flex-direction: column;
}

.ship:hover {
  background-color: azure;
}
.shipSubset {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.gameStartBtn {
  border-radius: 8px;
  height: 30px;
  width: 120px;
  background-color: rgb(51, 52, 74);
  color: white;
  border: solid;
  border-color: aquamarine;
}
.container-gameOverUI {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  background: radial-gradient(ellipse at bottom, #29298e 0%, #2b2f41 100%);
}
.gameOverUI {
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: black;
  color: white;
  border: solid;
  border-color: aquamarine;
}
.GOUIHeader {
  text-align: center;
  font-size: 40px;
}
.playAgainTxt {
  font-size: 30px;
}
.gameOverUI button {
  width: 60px;
  border-radius: 5px;
  border: solid;
  border-color: aquamarine;
}
.container-btn {
  display: flex;
}
.finalMsg {
  font-size: 40px;
}

@media (max-width: 400px) {
  .startPage {
    width: 300px;
    height: 400px;
  }
}

@media (max-width: 650px) {
  .gameTitle {
    font-size: 3rem;
    margin-top: 2rem;
  }
  .cell {
    height: 25px;
    width: 25px;
  }
  .container-port {
    width: 40%;
  }
  .port {
    gap: 10px;
  }
  .dock {
    display: flex;
    justify-content: flex-end;
  }
  .direction {
    display: flex;
    justify-content: end;
  }
  .container-main {
    margin-top: 120px;
  }
}
@media (max-width: 400px) {
  .gameTitle {
    margin-top: 1rem;
  }
  .container-main {
    flex-direction: column;
    padding: 0;
    gap: 20px;
    margin-top: 20px;
  }
  .container-player1 {
    width: 100%;
  }
  .container-port {
    width: 100%;
  }
  .dock {
    justify-content: center;
  }
  .container-player2 {
    width: 100%;
  }
  .gameStartBtn {
    margin-top: 120px;
  }
}
